body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.img-rounded{
	border-radius: 50%;
}

.col-md-8.col-xs-12 {
	font-size: 18px;
	padding-top: 150px;
} 

.about.row{
	padding-top: 70px;
	border-bottom: 1px solid #eee;
	padding-bottom: 70px;
}

.navbar{
	margin-bottom: 0px;
}